---
import BaseHead from "../components/BaseHead.astro";
import FormattedDate from "../components/FormattedDate.astro";
import Header from "../components/Header.astro";
import Scribbles from "../components/Scribbles.astro";

export interface Props {
  title: string;
  description: string;
  pubDate: string;
  lastEdit: string;
  heroImage: string;
  length: number;
}

const { title, description, pubDate, lastEdit, heroImage, length } =
  Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>
  <body class="mx-gutter overflow-x-hidden">
    <Scribbles />
    <Header title={title} />
    <main class="grid grid-cols-[repeat(3,auto)] gap-24 justify-start">
      <aside class="relative">
        <img
          src="/dotssmall.svg"
          alt=""
          class="absolute -z-10 left-0 top-0 -bottom-2 -translate-x-12"
        />
        <h1 class="w-[18ch] mb-[4.5rem]">{title}</h1>

        <div class="flex flex-col">
          <FormattedDate dateString={pubDate} />
          <span>
            {length} words
          </span>
          <span>
            {Math.ceil(length / 200)} min read
          </span>
        </div>
      </aside>
      <section class="w-[42ch] text-b-gray">
        {heroImage && <img width={720} height={360} src={heroImage} alt="" />}
        <FormattedDate dateString={pubDate} />

        <div class="last-updated-on">
          Last updated on <FormattedDate dateString={lastEdit} />
        </div>
        <slot />
      </section>
      <aside class="w-fit whitespace-nowrap">
        <div class="flex flex-col mb-12 leading-[0.95] gap-3">
          <span class="text-b-minato">Auckland-Based</span>
          <span class="text-b-minato">Front-End Developer</span>
          <span>Matthew Tao</span>
        </div>

        <ul class="flex flex-col gap-3 leading-[0.95] mb-9">
          <li class="flex gap-2 items-center">
            <img class="h-4" src="/icons/mail.svg" alt="" />
            <a href="mailto:matthew.yingtao@gmail.com"
              >matthew.yingtao@gmail.com</a
            >
          </li>
          <li class="flex gap-2 items-center">
            <img class="h-4" src="/icons/github.svg" alt="" />
            <a href="https://github.com/matthewyingtao/portfolio-tokyo"
              >View Source</a
            >
          </li>
          <li class="flex gap-2 items-center">
            <img class="h-4" src="/icons/linkedin.svg" alt="" />
            <a href="https://www.linkedin.com/in/matthew-tao727">LinkedIn</a>
          </li>
        </ul>
        <button
          class="w-full rounded-full bg-b-willow px-6 py-3 flex justify-center items-center"
        >
          <span class="text-xl leading-[0.95]">Get in touch!</span>
        </button>
      </aside>
    </main>
  </body>
</html>
