---
import { countWords } from "alfaaz";
import FormattedDate from "../components/FormattedDate.astro";
import BaseHead from "../components/layout/BaseHead.astro";
import ExpandedContact from "../components/layout/ExpandedContact.astro";
import Header from "../components/layout/Header.astro";

import type { MarkdownLayoutProps } from "astro";

type Props = MarkdownLayoutProps<{
  title: string;
  description: string;
  pubDate: string;
  lastEdit: string;
  heroImage: string;
  length: number;
}>;

const { title, description, pubDate, lastEdit, heroImage } =
  Astro.props.frontmatter;

const length = countWords(Astro.props.rawContent());
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead
      title={title}
      description={description}
      publishedTime={pubDate}
      modifiedTime={lastEdit}
      image={heroImage}
    />
  </head>
  <body class="mx-gutter overflow-x-hidden">
    <div class="noise"></div>

    <Header title={title} />
    <main
      class="flex gap-12 xl:gap-24 flex-nowrap flex-col md:flex-row justify-center items-center md:items-start md:justify-start mb-20"
    >
      <aside class="hidden lg:block max-w-[18ch] sticky top-8 h-fit">
        <img
          src="/dotssmall.svg"
          alt=""
          class="absolute -z-10 left-0 top-0 -bottom-2 -translate-x-12"
        />
        <h1 class="mb-[4.5rem]">{title}</h1>

        <div class="flex flex-col">
          <FormattedDate dateString={pubDate} />
          <span>
            {length} words
          </span>
          <span>
            {Math.ceil(length / 200)} min read
          </span>
        </div>
      </aside>
      <section
        class="w-full max-w-[55ch] text-b-gray content-md mt-2 flex-grow md:w-0"
      >
        <slot />
      </section>
      <ExpandedContact />
    </main>
  </body>
</html>
