---
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import ExpandedContact from "../components/ExpandedContact.astro";
import FormattedDate from "../components/FormattedDate.astro";
import Header from "../components/Header.astro";

export type Props = CollectionEntry<"blog">["data"] & {
  minutesRead: number;
  wordCount: number;
};

const { title, description, pubDate, updatedDate, minutesRead, wordCount } =
  Astro.props;
---

<html lang="en">
  <head>
    <BaseHead
      title={title}
      description={description}
      pubDate={pubDate}
      updatedDate={updatedDate}
    />
  </head>

  <body class="mx-gutter overflow-x-hidden">
    <div class="noise"></div>

    <Header title={title} />
    <main
      class="mb-20 flex flex-col flex-nowrap items-center justify-center gap-12 md:flex-row md:items-start md:justify-start xl:gap-24"
    >
      <aside class="sticky top-8 hidden h-fit max-w-[18ch] lg:block">
        <img
          src="/dotssmall.svg"
          alt=""
          class="absolute top-0 -bottom-2 left-0 -z-10 -translate-x-12"
        />
        <h1 class="mb-[4.5rem]">{title}</h1>

        <div class="flex flex-col">
          <FormattedDate date={pubDate} />
          <span>
            {wordCount} words
          </span>
          <span>
            {minutesRead} min read
          </span>
        </div>
      </aside>
      <section
        class="content-md text-b-gray mt-2 w-full max-w-[55ch] grow md:w-0"
      >
        <slot />
      </section>
      <ExpandedContact />
    </main>
  </body>
</html>
